<p id="notice"><%= notice %></p>

<div id="profile_show">
  <% if @profile.image.present? %>
    <%= image_tag @profile.image.url(:medium) %>
  <% else %>
    <%= image_tag "no_img.png" %>
  <% end %>
</div>

<div id="profile">
 プロフィール
</div>

<div class="profile_hobby">
  <strong>Hobby:</strong>
  <%= @profile.hobby %>
</div>

<div class="profile_birthday">
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</div>

<div class="profile_introduction">
  <strong>Introduce:</strong>
    <%= @profile.introduce %>
</div>

<% if current_user.id == @profile.user.id %>
  <div class="buttom"><%= link_to 'Edit', edit_profile_path(@profile) %></div> 
<% end %>
<div class="buttom"><%= link_to 'Back', profiles_path %></div>
