<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <% if @profile.image.present? %>
	  <%= image_tag @profile.image.url(:medium) %>
  <% else %>
	  <%= image_tag "no_img.png" %>
  <% end %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @profile.hobby %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
