<h1>New Group</h1>

<%= form_for @group do |f| %>
	<div class="row">
		<div class="input-field col s12">
			<%= f.text_field :name %>
			<%= f.label :name %>
		</div>
		<div class="input-field col s12">
			<%= f.text_area :detail %>
			<%= f.label :detail %>
		</div>
	</div>
	<h3>users</h3>
	<div id="users"></div>
	<%= f.submit %>
<% end %>
<a href="#candidate-modal" class="modal-trigger waves-effect waves-light btn">
	select user
</a>
  
<div id="candidate-modal" class="modal">
	 <div class="modal-content">
	 	<h4>select user</h4>
    <div class="section"></div>
    <ul class="collection">
    	<% User.all.each do |u| %>
        <li class="collection-item avatar" data-user-id="#{u.id}">
          <%= profile_image klz: 'circle' %>
          <p>
          	<%= u.profile.name %>
          </p> 
        </li>
      <% end %>
    </ul>
      
	 </div>
    
  <div class="modal-footer">
  	<a href="" class="modal-action modal-close waves-effect waves-green btn-flat cancel">Cancel</a>
    <a href="" class="waves-effect waves-green btn-flat ok">OK</a>
  </div>
    
</div>
 
<%= link_to 'Back', groups_path %>
