= form_for @message_group do |f|
  .row
    .input-field.col.s12
      = f.text_field :title
      = f.label :title
  %h3 users
  #users
    = f.fields_for :message_group_users, collection: User.all.map { |u| MessageGroupUser.new(user_id: u.id) } do |mgu|
      = render 'message_group_user_fields', f: mgu
    .links
      = link_to_add_association 'add user', f, :message_group_users
  = f.submit
%a.modal-trigger.waves-effect.waves-light.btn(href="#candidate-modal")
  select user
#candidate-modal.modal
  .modal-content
    %h4 select user
    .section
    %ul.collection
      - User.all.each do |u|
        %li.collection-item.avatar(data-user-id="#{u.id}")
          = profile_image klz: 'circle'
          %p #{u.profile.name}
  .modal-footer
    %a.modal-action.modal-close.weves-effect.weves-green.btn-flat Cancel
    %a.modal-action.modal-close.weves-effect.weves-green.btn-flat OK

