= @message_group.title
- @message_group.users.each do |u|
  = u.email
<p id="notice"><%= notice %></p>

<div id="message">
  <div class="container clearfix">
      <div class="people-list" id="people-list">
        <div class="search">
          <input type="text" placeholder="search" />
            <%= mi.search %>
        </div>
        <ul class="list">
          <% @users.each do |u| %>
            <li class="clearfix" data-user-id="<%= u.id %>">
              <%= profile_image user:u %>
              <div class="about">
                <div class="name">
                  <%= u.profile.name %>
                </div>
                <div class="status">
                  <i class="material-icons online">fiber_manual_record</i> online
                </div>
              </div>
            </li>
          
          <% end %>
        </ul>
      </div>
      
      <div id="message-in">
        <div class="message-header clearfix">
          <img src="../assets/images/no_img.png" alt="avatar" />
          
          <div id="message-about">
            <div id="message-with">Messages with <%= @message_group.users.map { |u| u.profile.name }.join(',') %></div>
            <div id="message-num"><%= @message_group.messages.count %>件<div>
          </div>
          <i class="material-icons fa-star">star_rate</i>
        </div> <!-- end chat-header -->
        
        <div id="messages" data-message-group-id="<%= @message_group.id %>">
          <ul>
            <% @message_group.messages.each do |m| %>
              <%= render 'messages/message', message: m %>
            <% end %>
            <li>
              <div class="message-data">
                <span class="message-data-name"><i class="material-icons online">fiber_manual_record</i> げきしこ</span>
                <span class="message-data-time">10:12 AM, 今日</span>
              </div>
              <div class="message my-message">
                おまんまん
              </div>
            </li>
            
            
          </ul>
          
        </div> <!-- end chat-history -->
        
        <div class="message-chat clearfix">
          <%= form_for [ @message_group, @message], url: '#' do |f| %>
            <%= f.text_area :content,  placeholder: 'Type your message', rows: 3 %>
            <%= mi.attach_file %>
            <%= mi.add_a_photo %>
            <%= f.button "送信", class: ['waves-effect','waves-light','btn'] %>
        <% end %>
        </div> <!-- end chat-message -->
        
      </div> <!-- end chat -->
      
  </div> <!-- end container -->
</div>
