<p id="notice"><%= notice %></p>
<div class="header">
  <h1>ShareTalk</h1>
</div>

<%= render 'layouts/sidebar' %>

<div class="post">
  <%= render 'form', timeline: @timeline %>
</div>

<table>
  <tbody>
    <% @timelines.each do |timeline| %>
      <tr class="timeline">
        <td><img src=""></td>
        <td><%= timeline.user.profile.name %></td>
        <td><%= image_tag timeline.user.profile.image.url(:medium) %></td>
        <td><%= timeline.content %></td>
        <td><%= link_to '詳細表示', timeline %></td>
        <% if current_user.id == timeline.user.id %>
          <td><%= link_to '編集', edit_timeline_path(timeline) %></td>
          <td><%= link_to 'Destroy', timeline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeline', new_timeline_path %>