<p id="notice"><%= notice %></p>

<div class="post">
  <%= render 'form', timeline: @timeline %>
</div>

<% @timelines.each do |timeline| %>
  <div class="timelines">

    <div class="timeline_title">
      <% if timeline.user.profile.image.present? %>
        <%= image_tag timeline.user.profile.image.url(:medium) %>
      <% else %>
        <%= image_tag "no_img.png" %>
      <% end %>
      <div class="name">
        <% if timeline.user.profile.name.present? %>
          <%= link_to timeline.user.profile.name, profile_path(timeline.user.profile.id) %>
        <% else %>
          <%= link_to timeline.user.profile.user_id, profile_path(timeline.user.profile.id) %>
        <% end %>

        <div class="date">
          <%= time_ago_in_words(timeline.created_at) + "前" %>
        </div>
      </div>
    </div>

    <div class="timeline_content">
      <%= timeline.content %>
    </div>


  </div>

  <div class="comment">
    <div class="reply">
      <% timeline.replies.each do |reply| %>
        <%= image_tag reply.user.profile.image.url(:medium) %>
        <div class="name">
          <%= reply.user.profile.name %>
        </div>
        <div class="comment-content">
          <%= reply.comment %>
        </div><br>
        <div class="like">いいね！</div>
        <div class="date">
          ・
          <%= time_ago_in_words(reply.created_at) + "前" %>
        </div>
      <% end %>
    </div>
    <%= image_tag timeline.user.profile.image.url(:medium) %>
    <%= render 'replies/form', timeline: timeline, reply: @reply %>
  </div>
<% end %>
