<p id="notice"><%= notice %></p>

<h1>ShareTalk</h1>

<%= render 'form', timeline: @timeline %>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timelines.each do |timeline| %>
      <tr>
        <td><img src=""></td>
        <td><%= timeline.content %></td>
        <td><%= link_to '詳細表示', timeline %></td>
        <td><%= link_to '編集', edit_timeline_path(timeline) %></td>
<!--         <td><%= link_to 'Destroy', timeline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 -->      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeline', new_timeline_path %>