<div class="nested-fields">
<div  class="res-table">

<tr>
<th><%= f.label :subject %></th>
<td><%= f.text_field :subject %></td>
</tr>
<tr>
<th><%= f.label :cost %></th>
<td><%= f.text_field :cost %></td>
</tr>
<tr>
<th><%= f.label :detail %></th>
<td><%= f.text_field :detail %></td>
</tr>
</table>
</div>
<td class="links">
  <%= link_to_remove_association "remove cost", f %>
</td>
</div>



