<p id="notice"><%= notice %></p>
<div class="header">
  <h1>ShareTalk</h1>
</div>

<table class="table-show">
<tbody>
<div>
  <strong>Title:</strong>
  <%= @expense.title %>

<tr>
	<th>Subject</th>
	<th>Cost</th>
	<th>Detail</th>
</tr>

<% @expense.costs.each do |cost| %>


<tr>
	<td><%= cost.subject %></td>
	<td><%= cost.cost %></td>
	<td><%= cost.detail %></td>
</tr>



<% end %>
</tbody>
</table>

<p>
<strong>代金合計</strong> ¥
<%= @expense.total_cost %>
</div>


<%= render 'costs/form', cost: @cost, expense: @expense %>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
