<ul id="sidebar">
	<li class="sidebar_profile">
		<%= profile_image %>
    <% if current_user.profile.present? %>
		<%= link_to current_user.profile.name, profile_path(current_user.profile) %>
    <% else %>
      <span style="font-size: 20pt; color: red;">プロフィールが無い！！</span>
    <% end %>
	</li>
	<li>
		<%= image_tag("icon_home.png") %>
		<%= link_to 'HOME', timelines_path %>
		<div class="unread_count">
			<%= Timeline.unread_by(current_user).count if Timeline.unread_by(current_user).count > 0 %>
		</div>
	</li>
	<li>
		<%= image_tag("icon_group.png") %>
		<%=  link_to 'グループ', groups_path %>
	</li>
	<li>
		<%= image_tag("icon_event.png") %>
		<%=  link_to 'イベント', events_path %>
	</li>
	<li>
		<%= image_tag("icon_expense.png") %>
		<%=  link_to '経費', expenses_path %>
	</li>
</ul>

<div id="container">
