<ul id="sidebar" class="sidenavi fixed">
	<li class="sidebar_profile">
		<%= image_tag current_user.profile.image.url(:medium) %>
    <% if current_user.profile.name %>
		<%= link_to current_user.profile.name, profile_path(current_user.profile) %>
    <% else %>
      <%= link_to current_user.name, profile_path(current_user.profile) %>
    <% end %>
	</li>
	<li>
		<%= image_tag("icon_home.png") %>
		<%= link_to 'HOME', timelines_path %>
		<div class="unread_count">
			<%= Timeline.unread_by(current_user).count if Timeline.unread_by(current_user).count > 0 %>
		</div>
	</li>
	<li>
		<%= image_tag("icon_group.png") %>
		<%=  link_to 'グループ', groups_path %>
	</li>
	<li>
		<%= image_tag("icon_event.png") %>
		<%=  link_to 'イベント', events_path %>
	</li>
	<li>
		<%= image_tag("icon_expense.png") %>
		<%=  link_to '経費', expenses_path %>
	</li>
  <li>
    <%= link_to  message_groups_path do %>
      <i class="material-icons">chat</i> メッセージ
    <% end %>
  </li>
</ul>

