<!DOCTYPE html>
<html>
  <head>
    <title>Sharetalk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row">
        <div class="col s3">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col s9">
          <div class="row">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
           
            <% if user_signed_in? %>
              <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
